/* General styling */
.container{
    width: 95%;
    margin: auto;
}
.section{
    display: flex;
}
.main{
    width: 85%;
    height: 100vh;
    background-color: #1a2751;
    color: #fff;
}

/* Sidebar Component Styling */
.sidebar{
    width: 15vw;
    height: 100vh;
    background-color: #263461;
}
.navbar h3{
    border-bottom: 1px solid #717074;
    padding: 0.5em 0;
}

.navbar .link{
    text-decoration: none;
    color: #fff;
    padding-left: 1em;
}

.navbar li{
    list-style: none;
    padding: 1em 0;
}
.navbar li:hover{
    border-left: 3px solid #fff;
    background-color: #2e567e;
}

/* Header components styling */
.header{
    border-bottom: 1px solid #747070;
}
.h-container{
    display: flex;
    justify-content: space-between;
    
}
.profile{
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
#avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.coins{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0;
}
.coin{
    width: 32%;
    background-color: #263461;
}
.coin-header{
    display: flex;
    justify-content: space-between;
}
.coin .title{
    display: flex;
    align-items: center;
}
.coin img{
    width: 30px;
    height: 30px;
}