/* General styling */

.container{
    width: 95%;
    margin: auto;
}
.main-section{
    display: flex;
    width: 100vw;
    height: 100%;
}
.main{
    width: 85%;
    height: auto;
    background-color: #1a2751;
    color: #fff;
}
.profit{
    background-color: #0fb90f;
    padding: 0.4em;
    border-radius: 10px;
}
.loss{
    background-color: #f32b2b;
    padding: 0.4em;
    border-radius: 10px;
}

/* Sidebar Component Styling */
.sidebar{
    width: 15vw;
    height: auto;
    background-color: #263461;
}
.navbar h3{
    border-bottom: 1px solid #717074;
    padding: 0.5em 0;
}

.navbar .link{
    text-decoration: none;
    color: #fff;
    padding-left: 1em;
}

.navbar li{
    list-style: none;
    padding: 1em 0;
}
.navbar li:hover{
    border-left: 3px solid #fff;
    background-color: #2e567e;
}

/* Header components styling */
.header{
    border-bottom: 1px solid #747070;
}
.h-container{
    display: flex;
    justify-content: space-between;
    
}
.profile{
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
#avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.coins{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
}
.coin{
    width: 32%;
    background-color: #263461;
    border-radius: 10px;
}
.coin-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coin-header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.coin .title{
    display: flex;
    align-items: center;
}
.coin img{
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.coin .price{
    margin: -0.5em 0 1em 2em;
}

/* Portfolio styling */
.main-dashboard{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.portfolio{
    width: 30%;
}
.crypto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin: 1em 0;
    border-radius: 10px;
}
.crypto .amount{
    text-transform: uppercase;
    line-height: 0.7;
    text-align: right;
}
.overall{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history{
    width: 30%;
}

.transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2e567e;
    margin: 1em;
}
.details{
    line-height: 0.7em;
}

@media(max-width: 920px) {
    
    .coin-container{
        flex-flow: column nowrap;
        align-items: baseline;
    }
    .profit,.loss{
        margin: 0 0 1em 2em;
    }
    
}
@media (max-width: 800px) {
    .portfolio{
        width: 40%;
    }
    .overall{
        display: none;
    }
    .history{
        width: 40%;
    }
}
@media (max-width:700px) {
    .sidebar{
        width: 25vw;
    }
    .main{
        width: 75vw;
    }
    .coins{
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .coin{
        width: 90%;
        margin: 0.5em 0;
    }
    .coin-container{
        flex-flow: row nowrap;
        align-items: baseline;
    }
    .profit,.loss{
        margin: 0;
    }
    .main-dashboard{
        width: 90%;
        margin: auto;
        flex-flow: column nowrap;
    }
    .portfolio{
        width: 90%;
    }
    .overall{
        display: flex;
        width: 90%;
    }
    .history{
        width: 90%;
    }
}